.container{
    height: 50px;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;

}

.socialIcons{
display: flex;
align-items: center;
gap: 10px;

}

.icon{
    opacity: 0.6;
    cursor: pointer;
}